{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block conteudo %}

<div class="row">

    {% if not request.user.is_authenticated %}
        <div class="col-lg mt-3">
            <h4>Login</h4>
            <P>Se já for um usuário com cadastro, fazer inserir usuário e 
                senha para acessar o sistema</P>

            {% comment %} Criar formulário de pedidos {% endcomment %}

            <form method='POST' action='{% url "perfil:login" %}'>
                {% csrf_token %}
                <div class="form-group">
                  <label for="inputUsuario">Usuário</label>
                  <input type="text" name='username' class="form-control" id="inputUsuario" aria-describedby="usuarioHelp" placeholder="Digite seu usuario">
                  <small id="usuarioHelp" class="form-text text-muted">Favor inserir um usuário do sistema.</small>
                </div>
                <div class="form-group">
                  <label for="inputPassword">Password</label>
                  <input type="password" name='password' class="form-control" id="inputPassword1" placeholder="Digite a sua senha">
                </div>
                {% comment %} <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> {% endcomment %}
                <button type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
              </form>

            </div>
    {% endif %}
    
    
    <div class="col-lg mt-3">

        {% block tituloCadastro %}
            <h4>Cadastro</h4>
            <P>Se ainda não tiver um cadastro, fazer inserir os dados
                no formulário abaixo.</P>
        {% endblock tituloCadastro %}

        <form action="" method="post">
            {% csrf_token %}
            {{ userForm|crispy  }}
            {{ perfilForm|crispy  }}

            <div class="row">
                <div class="col">
                    <button type="submit" class='btn btn-primary btn-block btn-lg'>
                        Cadastrar
                    </button>
                </div>
            </div>

        </form>
    
    
    
    </div>
</div>

{% endblock conteudo %}